<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TC</title>
</head>
<body>
    <form action="/rtc" method="POST">
        <div>
            <input type="text" value="{{ r[0] }}">
        </div>
        <div>
            <input type="text" value="{{ r[1] }}">
        </div>
        <div>
            <img src="{{ r[2] }}" alt="">
        </div>
        <input type="submit" value="Submit">
    </form>
</body>
</html>

